<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446378717858-isehqro2a169i3563truuhktqr94dqht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446378717858-isehqro2a169i3563truuhktqr94dqht</string>
	<key>API_KEY</key>
	<string>AIzaSyDB7ROdztIh57WTMaaHoIiFR9Oe1zg1Flo</string>
	<key>GCM_SENDER_ID</key>
	<string>446378717858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roseikteam1.fetch</string>
	<key>PROJECT_ID</key>
	<string>fetch-d77c3</string>
	<key>STORAGE_BUCKET</key>
	<string>fetch-d77c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446378717858:ios:dc8f26ede3e71d69ffddfb</string>
	<key>DATABASE_URL</key>
	<string>https://fetch-d77c3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>